html, body{
    height: 100%;
}
body{
    padding-bottom: 40px;
    padding-top: 40px;
    align-items: center;
    -ms-flex-align: center;
    display: flex;
    display: -ms-flexbox;
}
.form-signin{
    width: 100%;
    max-width: 1000px;
    padding: 115px;
    margin: auto;
    background-color: white;
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px 60px 60px 60px;
}
.form-signin .checkbox{
font-weight: bold;
}
.form-signin .form-control{
    padding: 10px;
    font-size: 16px;
    height: auto;
    box-sizing: border-box;
    position: relative;
    margin: 10px 0px 10px 0px;
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
}

.bg-color{
    background-color: #c0edfff5;
}
.btn-sty{
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    border-style: none;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    background: #3498db;
    margin: 3px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
  }
  
  .btn-sty:hover {
    background: #3cb0fd;
    text-decoration: none;
  }

  .btn-search{
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 0px 60px 60px 0px;
    border-style: none;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    background: #3498db;
    margin-top: 10px;
    padding: 10px 15px 0px 10px;
    text-decoration: none;
    
  }
  .btn-search:hover {
    background: #3cb0fd;
    text-decoration: none;
  }

  .result{
    padding: 30px;
    font-size: 1.3em;
    margin: 5%;
  }